<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/style/main.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <title>
                Admin dashboard
        </title>
    </head>
    <body>
        <div class="my_container">
        <div class="centre"> <h1>Household Sevice </h1></div>
            <div class="my_panel">
              <nav class="navbar navbar-expand-lg " style="background-color: #e3f2fd;">
                <div class="container-fluid">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Search</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Summary</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Logout</a>
                      </li>
                    </ul>
                    <span class="navbar-text">
                      Welcome Admin
                    </span>
                  </div>
                </div>
              </nav>
            </div>

          <!--start of Service-->
         <div class="my_container">
            <div class="centre"> <h1>Services </h1></div>
              <div class="my_panel">

                
                <div class="container text-center">
                  <div class="row align-items-start" style="font-size: 20px;">
                    <div class="col">
                     ID
                    </div>
                    <div class="col">
                      Service Name
                    </div>
                    <div class="col">
                      Base price
                    </div>
                    <div class="col">
                      Action
                    </div>
                  </div>  </b>
                  <div class="row align-items-start">
                    <div class="col">
                     <a href="#">1</a>
                    </div>
                    <div class="col">
                      cleaning
                    </div>
                    <div class="col">
                      123
                    </div>
                    <div class="col">
                      Edit/Delte
                    </div>
                  </div>
                  <div class="row align-items-start">
                    <div class="col">
                      <a href="#">2</a>
                    </div>
                    <div class="col">
                      Haircut
                    </div>
                    <div class="col">
                      123
                    </div>
                    <div class="col">
                      Edit/Delte
                    </div>
                  </div>
                  <div class="row align-items-start">
                    <div class="col">
                      <a href="#">3</a>
                    </div>
                    <div class="col">
                      AC service and repair
                    </div>
                    <div class="col">
                      123
                    </div>
                    <div class="col">
                      Edit/Delte
                    </div>
                  </div>
                  <div class="row align-items-start">
                    <div class="col">
                      <a href="#">4</a>
                    </div>
                    <div class="col">
                      Tap repair
                    </div>
                    <div class="col">
                      123
                    </div>
                    <div class="col">
                      Edit/Delte
                    </div>
                  </div>
                  <div class="row align-items-start">
                    <div class="col">
                      <a href="#">5</a>
                    </div>
                    <div class="col">
                      Electrician
                    </div>
                    <div class="col">
                      123
                    </div>
                    <div class="col">
                      Edit/Delte
                    </div>
                  </div>
                </div>
               
              </div>
              <div class="centre"> <button type="button" class="btn btn-primary" class="centre"> +New Service</button> </div>
        </div>
        <!--end of Service-->
<br>
<br>
        <!--start of professional-->
        <div class="my_container">
          <div class="centre"> <h1> Professional </h1></div>
            <div class="my_panel">

              
              <div class="container text-center">
                <div class="row align-items-start" style="font-size: 20px;">
                  <div class="col">
                   ID
                  </div>
                  <div class="col">
                    Name
                  </div>
                  <div class="col">
                    Service Name
                  </div>
                  <div class="col">
                    Experience(in month)
                  </div>
                  <div class="col">
                    Action
                  </div>
                </div>  </b>
                <div class="row align-items-start">
                  <div class="col">
                   <a href="#">1</a>
                  </div>
                  <div class="col">
                    professional--1
                  </div>
                  <div class="col">
                    name of service
                  </div>
                  <div class="col">
                    20
                  </div>
                  <div class="col">
                    Approve/Reject/Delete
                  </div>
                </div>
                <div class="row align-items-start">
                  <div class="col">
                   <a href="#">2</a>
                  </div>
                  <div class="col">
                    professional--2
                  </div>
                  <div class="col">
                    name of service
                  </div>
                  <div class="col">
                    22
                  </div>
                  <div class="col">
                    Approve/Reject/Delete
                  </div>
                </div>
                <div class="row align-items-start">
                  <div class="col">
                   <a href="#">3</a>
                  </div>
                  <div class="col">
                    professional--3
                  </div>
                  <div class="col">
                    name of service
                  </div>
                  <div class="col">
                    18
                  </div>
                  <div class="col">
                    Approve/Reject/Delete
                  </div>
                </div>
                <div class="row align-items-start">
                  <div class="col">
                   <a href="#">4</a>
                  </div>
                  <div class="col">
                    professional--4
                  </div>
                  <div class="col">
                    name of service
                  </div>
                  <div class="col">
                    24
                  </div>
                  <div class="col">
                    Approve/Reject/Delete
                  </div>
                </div>
                <div class="row align-items-start">
                  <div class="col">
                   <a href="#">5</a>
                  </div>
                  <div class="col">
                    professional--5
                  </div>
                  <div class="col">
                    name of service
                  </div>
                  <div class="col">
                    30
                  </div>
                  <div class="col">
                    Approve/Reject/Delete
                  </div>
                </div>
              </div>
             
            </div>
        </div>
      <!--end of professional-->
      <br>
      <br>
      <!--start of Service request-->
      <div class="my_container">
        <div class="centre"> <h1>Services Request </h1></div>
          <div class="my_panel">

            
            <div class="container text-center">
              <div class="row align-items-start" style="font-size: 20px;">
                <div class="col">
                 ID
                </div>
                <div class="col">
                  Assigned Professional
                </div>
                <div class="col">
                  Request Date
                </div>
                <div class="col">
                  Status
                </div>
              </div>  </b>
              <div class="row align-items-start">
                <div class="col">
                 <a href="#">1</a>
                </div>
                <div class="col">
                  professional--1
                </div>
                <div class="col">
                  10-05-2024
                </div>
                <div class="col">
                  Requested/Accepted/close

                </div>
              </div>
              <div class="row align-items-start">
                <div class="col">
                  <a href="#">2</a>
                </div>
                <div class="col">
                  professional--2
                </div>
                <div class="col">
                  10-08-2024
                </div>
                <div class="col">
                  Requested/Accepted/close
                </div>
              </div>
              <div class="row align-items-start">
                <div class="col">
                  <a href="#">3</a>
                </div>
                <div class="col">
                  professional--3
                </div>
                <div class="col">
                  25-05-2024
                </div>
                <div class="col">
                  Requested/Accepted/close
                </div>
              </div>
              <div class="row align-items-start">
                <div class="col">
                  <a href="#">4</a>
                </div>
                <div class="col">
                  professional--4
                </div>
                <div class="col">
                  15-01-2024
                </div>
                <div class="col">
                  Requested/Accepted/close
                </div>
              </div>
              <div class="row align-items-start">
                <div class="col">
                  <a href="#">5</a>
                </div>
                <div class="col">
                  professional--5
                </div>
                <div class="col">
                  22-09-2024
                </div>
                <div class="col">
                  Requested/Accepted/close
                </div>
              </div>
            </div>
           
          </div>
        </div>
    <!--end of Service request-->
    </body>
</html>