{%extends "admin_layout.html"%}
{%block content%}    <!--Inherited all nav featues-->



          <!--start of Service-->
         <div class="my_container">
            <div class="centre"> <h1>Services </h1></div>
              <div class="my_panel">

                
                <div class="container text-center">
                  <div class="row align-items-start" style="font-size: 20px;">
                    <div class="col">
                     ID
                    </div>
                    <div class="col">
                      Service Name
                    </div>
                    <div class="col">
                      Base price
                    </div>
                    <div class="col">
                      Action
                    </div>
                    <div class="col">
                      Description
                    </div>
                  </div>

                  <div>
                  {%if services%}
                  <div>
                  {%for service in services%}
                  <div class="row align-items-start">
                    <div class="col">
                     <a href="#"> {{service.id}}</a>
                    </div>
                    <div class="col">
                      {{service.name}}
                    </div>
                    <div class="col">
                      {{service.price}}
                    </div>
                    <div class="col">
                      {{service.action}}
                    </div>
                    <div class="col">
                      {{service.description}}
                    </div>
                  </div>
                
                  {%endfor%}
                </div>
                  {%else%}
                  <h3 class="centre"> No Service available! </h3>
                  {%endif%}
                </div>

  
                 
               
              </div>
              <div class="centre"> <a href="/add_venue/{{name}}" type="button" class="btn btn-primary" class="centre"> +New Service</a> </div>
        </div>
        <!--end of Service-->
<br>
<br>
        <!--start of professional-->
        <div class="my_container">
          <div class="centre"> <h1> Professional </h1></div>
            <div class="my_panel">

              
              <div class="container text-center">
                <div class="row align-items-start" style="font-size: 20px;">
                  <div class="col">
                   ID
                  </div>
                  <div class="col">
                    Name
                  </div>
                  <div class="col">
                    Service Name
                  </div>
                  <div class="col">
                    Experience(in month)
                  </div>
                  <div class="col">
                    Action
                  </div>
                </div>  </b>


                {%if professionals%}
                {%for professional in professionals%}
                <div class="row align-items-start">
                  <div class="col">
                   <a href="#"> {{professional.id}} </a>
                  </div>
                  <div class="col">
                    {{professional.full_name}}
                  </div>
                  <div class="col">
                    {{professional.service_type}}
                  </div>
                  <div class="col">
                    {{professional.experience}}
                  </div>
                  <div class="col">
                    Approve/Reject/Delete
                  </div>
                </div>
                  {%endfor%}
                <div>
                {%else%}
                <h3 class="centre"> No Service available! </h3>
                {%endif%}
              </div>
                
                


              
      <!--end of professional-->





      <br>
      <br>



      
      <!--start of Service request-->
      <div class="my_container">
        <div class="centre"> <h1>Services Request </h1></div>
          <div class="my_panel">

            
            <div class="container text-center">
              <div class="row align-items-start" style="font-size: 20px;">
                <div class="col">
                 ID
                </div>
                <div class="col">
                  Assigned Professional
                </div>
                <div class="col">
                  Request Date
                </div>
                <div class="col">
                  Status
                </div>
              </div>  </b>
              <div class="row align-items-start">
                <div class="col">
                 <a href="#">1</a>
                </div>
                <div class="col">
                  professional--1
                </div>
                <div class="col">
                  10-05-2024
                </div>
                <div class="col">
                  Requested/Accepted/close

                </div>
              </div>
              <div class="row align-items-start">
                <div class="col">
                  <a href="#">2</a>
                </div>
                <div class="col">
                  professional--2
                </div>
                <div class="col">
                  10-08-2024
                </div>
                <div class="col">
                  Requested/Accepted/close
                </div>
              </div>
              <div class="row align-items-start">
                <div class="col">
                  <a href="#">3</a>
                </div>
                <div class="col">
                  professional--3
                </div>
                <div class="col">
                  25-05-2024
                </div>
                <div class="col">
                  Requested/Accepted/close
                </div>
              </div>
              <div class="row align-items-start">
                <div class="col">
                  <a href="#">4</a>
                </div>
                <div class="col">
                  professional--4
                </div>
                <div class="col">
                  15-01-2024
                </div>
                <div class="col">
                  Requested/Accepted/close
                </div>
              </div>
              <div class="row align-items-start">
                <div class="col">
                  <a href="#">5</a>
                </div>
                <div class="col">
                  professional--5
                </div>
                <div class="col">
                  22-09-2024
                </div>
                <div class="col">
                  Requested/Accepted/close
                </div>
              </div>
            </div>
           
           </div> 
          </div>
        </div>
    <!--end of Service request-->


    {%endblock%}