{%extends "admin_layout.html"%}
{%block content_search_view%}    <!--Inherited all nav featues-->



          <!--start of Service-->
{%if services%}
         <div class="my_container">
            <div class="centre"> <h1>Services </h1></div>
              <div class="my_panel">

                
                <div class="container text-center">
                  <div class="row align-items-start" style="font-size: 20px;">
                    <div class="col">
                     ID
                    </div>
                    <div class="col">
                      Service Name
                    </div>
                    <div class="col">
                      Base price
                    </div>
                    <div class="col">
                      Action
                    </div>
                    <div class="col">
                      Description
                    </div>
                  </div>



                  <div>
                  <div>
                  {%for service in services%}
                  <div class="row align-items-start">
                    <div class="col">
                     <a href="#"> {{service.id}}</a>
                    </div>
                    <div class="col">
                      {{service.name}}
                    </div>
                    <div class="col">
                      {{service.price}}
                    </div>
                    <div class="col">
                      {{service.action}}
                    </div>
                    <div class="col">
                      {{service.description}}
                    </div>
                  </div>
                
                  {%endfor%}
              
               
              </div>
              <div class="centre"> <a href="/add_venue/{{name}}" type="button" class="btn btn-primary" class="centre"> +New Service</a> </div>
        </div>

        <!--end of Service-->

<br>
<br>


        <!--start of professional-->
{%elif professionals%}        
        <div class="my_container">   
          <div class="centre"> <h1> Professional </h1></div>
            <div class="my_panel">

              
              <div class="container text-center">
                <div class="row align-items-start" style="font-size: 20px;">
                  <div class="col">
                   ID
                  </div>
                  <div class="col">
                    Name
                  </div>
                  <div class="col">
                    Service Name
                  </div>
                  <div class="col">
                    Experience(in month)
                  </div>
                  <div class="col">
                    Action
                  </div>
                </div>  </b>
                
              

                
                {%for professional in professionals%}
                <div class="row align-items-start">
                  <div class="col">
                   <a href="#"> {{professional.id}} </a>
                  </div>
                  <div class="col">
                    {{professional.full_name}}
                  </div>
                  <div class="col">
                    {{professional.service_type}}
                  </div>
                  <div class="col">
                    {{professional.experience}}
                  </div>
                  <div class="col">
                    Approve/Reject/Delete
                  </div>
                </div>
                  {%endfor%}
                
                

    
      <!--end of professional-->

      
      

      <br><br><br>
      <!--start of Customer-->
{%elif customers%}        
<div class="my_container">   
  <div class="centre"> <h1> Customer </h1></div>
    <div class="my_panel">

      
      <div class="container text-center">
        <div class="row align-items-start" style="font-size: 20px;">
          <div class="col">
           ID
          </div>
          <div class="col">
            Name
          </div>
          <div class="col">
            Address
          </div>
          <div class="col">
            Pin Code
          </div>
          <div class="col">
            Date Created
          </div>
          <div class="col">
            Description
          </div>
        </div>  </b>
        
      

        
        {%for customer in customers%}
        <div class="row align-items-start">
          <div class="col">
           <a href="#"> {{customer.id}} </a>
          </div>
          <div class="col">
            {{customer.full_name}}
          </div>
          <div class="col">
            {{customer.address}}
          </div>
          <div class="col">
            {{customer.pincode}}
          </div>
          <div class="col">
            {{customer.date_created}}
          </div>
          <div class="col">
            {{customer.description}}
          </div>
        </div>
          {%endfor%}
        
        
    
<!--end of professional-->





      <br><br>

      <!--start of Service request-->
{%elif servicerequests%}        
      <div class="my_container">
        <div class="centre"> <h1>Services Request </h1></div>
          <div class="my_panel">

            
            <div class="container text-center">
              <div class="row align-items-start" style="font-size: 20px;">
                <div class="col">
                 ID
                </div>
                <div class="col">
                  Assigned Professional
                </div>
                <div class="col">
                  Request Date
                </div>
                <div class="col">
                  Status
                </div>
              </div>  </b>

              {%for servicerequest in servicerequests%}
              <div class="row align-items-start">
                <div class="col">
                 <a href="#"> {{servicerequest.id}} </a>
                </div>
                <div class="col">
                  {{servicerequest.Professional_id}}
                </div>
                <div class="col">
                  {{servicerequest.date_of_request}}
                </div>
                <div class="col">
                  {{servicerequest.status}}
                </div>
              </div>
              {%endfor%}

    <!--end of Service request-->


<!-- if not found any from above-->
{%else%}
    <div class="centre">
      {{msg}}
    </div>
{%endif%}
  
    {%endblock%}