{%extends "admin_layout.html"%}
{%block content%}    <!--Inherited all nav featues-->



          <!--start of Service-->
         <div class="my_container">
            <div class="centre"> <h1>Services </h1></div>
              <div class="my_panel">

                
                <div class="container text-center">
                  <div class="row align-items-start" style="font-size: 20px;">
                    <div class="col">
                     ID
                    </div>
                    <div class="col">
                      Service Name
                    </div>
                    <div class="col">
                      Base price
                    </div>
                    <div class="col">
                      Action
                    </div>
                    <div class="col">
                      Description
                    </div>
                  </div>

                  <div>
                  {%if services%}
                  <div>
                  {%for service in services%}
                  <div class="row align-items-start">
                    <div class="col">
                     <a href="#"> {{service.id}}</a>
                    </div>
                    <div class="col">
                      {{service.name}}
                    </div>
                    <div class="col">
                      {{service.price}}
                    </div>
                    <div class="col">
                      <a class="btn btn-primary" href="/edit_service/{{service.id}}/{{name}}">    Edit <a class="btn btn-danger" href="/delete_service/{{service.id}}/{{name}}">Delete </a>
                    </div>
                    <div class="col">
                      {{service.description}}
                    </div>
                  </div>
                
                  {%endfor%}
                </div>
                  {%else%}
                  <h3 class="centre"> No Service available! </h3>
                  {%endif%}
                </div>

                <br>
                 
               
              </div>
              <div class="centre"> <a href="/add_service/{{name}}" type="button" class="btn btn-primary" class="centre"> +New Service</a> </div>
        </div>
        <!--end of Service-->



        <!--start of professional-->
        <div class="my_container">   
          <div class="centre"> <h1> Top Professional </h1></div>
            <div class="my_panel">

              
              <div class="container text-center">
                <div class="row align-items-start" style="font-size: 20px;">
                  <div class="col">
                   ID
                  </div>
                  <div class="col">
                    Name
                  </div>
                  <div class="col">
                    Service Name
                  </div>
                  <div class="col">
                    Experience(in month)
                  </div>
                  <div class="col">
                    Rating
                  </div>
                  <div class="col">
                    Action
                  </div>
                </div>  </b>
                
              

                {%if professionals%}
                {%for professional in professionals%}
                <div class="row align-items-start">
                  <div class="col">
                   <a href="#"> {{professional.id}} </a>
                  </div>
                  <div class="col">
                    {{professional.full_name}}
                  </div>
                  <div class="col">
                    {{professional.service_type}}
                  </div>
                  <div class="col">
                    {{professional.experience}}
                  </div>
                  <div class="col">
                    {{professional.rating}}
                  </div>
                  <div class="col">
                    <a href="/delete_professional/{{professional.id}}/{{name}}"> Delete </a>

                    {% if professional.cv %}
        <p><strong>CV:</strong> <a href="{{ url_for('static', filename='./uploaded_cv/' +  professional.cv ) }}" target="_blank">View CV</a></p>
    {% else %}
        <p>No CV uploaded.</p>
    {% endif %}

                  </div>
                </div>
                  {%endfor%}
                <div>
                {%else%}
                <h3 class="centre"> No Service available! </h3>
                {%endif%}
              </div>
                
                


              
      <!--end of professional-->





      <br>
      <br>





      <!--start of Service request-->
      <div class="my_container">
        <div class="centre"> <h1>Recent Services Request </h1></div>
          <div class="my_panel">

{%if services_request%}   
            <div class="container text-center">
              <div class="row align-items-start" style="font-size: 20px;">
                <div class="col">
                 ID
                </div>
                <div class="col">
                  Assigned Professional
                </div>
                <div class="col">
                  Service Date
                </div>
                <div class="col">
                  Status
                </div>
              </div>  </b>

{%for service_request in services_request%}

              <div class="row align-items-start">
                <div class="col">
                 <a href="#">{{service_request.id}}</a>
                </div>
                <div class="col">
                 {{service_request.professional.full_name}}
                </div>
                <div class="col">
                   {{service_request.service_date}}
                </div>
                <div class="col">
                  {{service_request.status}}
                </div>
              </div>

{%endfor%}
{%else%}
<div>
  <h3 class="centre"> No Service available! </h3>
</div>
{%endif%}

         
    <!--end of Service request-->


    {%endblock%}