{%extends "admin_layout.html"%}
{%block content_search_view%}    <!--Inherited all nav featues-->



          <!--start of Service-->
{%if category=="service"%}
         <div class="my_container">
            <div class="centre"> <h1>Services </h1></div>
              <div class="my_panel">

                
                <div class="container text-center">
                  <div class="row align-items-start" style="font-size: 20px;">
                    <div class="col">
                     ID
                    </div>
                    <div class="col">
                      Service Name
                    </div>
                    <div class="col">
                      Base price
                    </div>
                    <div class="col">
                      Action
                    </div>
                    <div class="col">
                      Description
                    </div>
                  </div>



                  <div>
                  <div>
                  {%for result in results%}
                  <div class="row align-items-start">
                    <div class="col">
                     <a href="#"> {{result.id}}</a>
                    </div>
                    <div class="col">
                      {{result.name}}
                    </div>
                    <div class="col">
                      {{result.price}}
                    </div>
                    <div class="col">
                      {{result.action}}
                    </div>
                    <div class="col">
                      {{result.description}}
                    </div>
                  </div>
                
                  {%endfor%}
              
               
             

        <!--end of Service-->

<br>
<br>


        <!--start of professional-->
{%elif category=="professional"%}     
        <div class="my_container">   
          <div class="centre"> <h1> Professional </h1></div>
            <div class="my_panel">

              
              <div class="container text-center">
                <div class="row align-items-start" style="font-size: 20px;">
                  <div class="col">
                   ID
                  </div>
                  <div class="col">
                    Name
                  </div>
                  <div class="col">
                    Service Name
                  </div>
                  <div class="col">
                    Experience(in month)
                  </div>
                  <div class="col">
                   Action

                   
                  </div>
                </div>  </b>
                
              

                
                {%for result in results%}
                <div class="row align-items-start">
                  <div class="col">
                   <a href="#"> {{result.id}} </a>
                  </div>
                  <div class="col">
                    {{result.full_name}}
                  </div>
                  <div class="col">
                    {{result.service_type}}
                  </div>
                  <div class="col">
                    {{result.experience}}
                  </div>
                  <div class="col">
                    
                    <a href="/delete_professional/{{result.id}}/{{name}}"> Delete </a>

                    {% if result.id %}
        <p><strong>CV:</strong> <a href="{{ url_for('static', filename='./uploaded_cv/' + result.cv) }}" target="_blank">View CV</a></p>
    {% else %}
        <p>No CV uploaded.</p>
    {% endif %}

                  </div>
                </div>
                  {%endfor%}
                
                

    
      <!--end of professional-->

      
      

      <br><br><br>
      <!--start of Customer-->
{%elif category=="customer"%}         
<div class="my_container">   
  <div class="centre"> <h1> Customer </h1></div>
    <div class="my_panel">

      
      <div class="container text-center">
        <div class="row align-items-start" style="font-size: 20px;">
          <div class="col">
           ID
          </div>
          <div class="col">
            Name
          </div>
          <div class="col">
            Address
          </div>
          <div class="col">
            Pin Code
          </div>
          <div class="col">
            Date Created
          </div>
          <div class="col">
            Description
          </div>
        </div>  </b>
        
      

        
        {%for result in results%}
        <div class="row align-items-start">
          <div class="col">
           <a href="#"> {{result.id}} </a>
          </div>
          <div class="col">
            {{result.full_name}}
          </div>
          <div class="col">
            {{result.address}}
          </div>
          <div class="col">
            {{result.pincode}}
          </div>
          <div class="col">
            {{result.date_created}}
          </div>
          <div class="col">
            {{result.description}}
          </div>
        </div>
          {%endfor%}
        
        
    
<!--end of Customer-->





      <br><br>

      <!--start of Service request-->
{%elif category=="service_request"%}         
      <div class="my_container">
        <div class="centre"> <h1>Services Request </h1></div>
          <div class="my_panel">

            
            <div class="container text-center">
              <div class="row align-items-start" style="font-size: 20px;">
                <div class="col">
                 ID
                </div>
                <div class="col">
                  Assigned Professional
                </div>
                <div class="col">
                  Request Date
                </div>
                <div class="col">
                  Status
                </div>
              </div>  </b>

              {%for result in results%}
              <div class="row align-items-start">
                <div class="col">
                 <a href="#"> {{result.id}} </a>
                </div>
                <div class="col">
                  {{result.Professional_id}}
                </div>
                <div class="col">
                  {{result.date_of_request}}
                </div>
                <div class="col">
                  {{result.status}}
                </div>
              </div>
              {%endfor%}

    <!--end of Service request-->


<!-- if not found any from above-->
{%else%}
    <div class="centre">
      {{msg}}
    </div>
{%endif%}
  
    {%endblock%}