{%extends "Customer_layout.html"%}
{%block content%}      <!--Inherited all nav featues-->



          <!-- Start for select service-->
          <div class="container text-center">
            <div class="row align-items-start" style="font-size: 20px;">
              <div class="col">
          
                <div class="container-fluid mt-5" width="100%">
                  <h2 class="text-center mb-4">Select any Service</h2>
                  <div class="centre">
                    {{cnf_msg}}
                  </div>
                  <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-5 g-2">
{%if services%}
{%for service in services%}
                      <!-- Card 1 -->
                      {{cnf_msg}}
                      <div class="col">
                          <div class="card h-100 shadow-sm">
                              <div class="card-body">
                                  <h5 class="card-title">{{service.name}} </h5>
                                  <p class="card-text">{{service.description}}</p>
                                  <h7 class="card-title">Start @ ₹{{service.price}} </h8>
                                  <a href="/view_service/{{service.id}}/{{customer.id}}/{{name}}" class="btn btn-outline-primary">Select</a>
                              </div>
                          </div>
                      </div>
{%endfor%}
{%else%}
<div class="centre"> No Service available</div>
{%endif%}
                     
                      
                  </div>
              </div>

            </div>
          </div>
                                <div>
          <!--End for select service-->



          <!--start of Servicehhistory-->
         <div class="my_container">
            <div class="centre"> <h1>Service History</h1></div>
              <div class="my_panel">

{%if services_request%}                
                <div class="container text-center">
                  <div class="row align-items-start" style="font-size: 20px;">
                    <div class="col">
                     ID
                    </div>
                    <div class="col">
                      Service Name
                    </div>
                    <div class="col">
                      professional Name
                    </div>
                    <div class="col">
                      Service Date
                    </div>
                    <div class="col">
                      Mobile Number
                    </div>
                    <div class="col">
                      Status
                    </div>
                  </div>  </b>

{%for service_request in services_request%}

                  <div class="row align-items-start">
                    <div class="col">
                     <a href="#">{{service_request.request_id}}</a>
                    </div>
                    <div class="col">
                      {{service_request.service_name}}
                    </div>
                    <div class="col">
                     {{service_request.professional_name}}
                    </div>
                    <div class="col">
                      {{service_request.service_date}}
                      </div>
<!--Mobile Number-->
{%if service_request.status=="Accepted, Ongoing"%} 
                      <div class="col">
                     {{service_request.professional_mobile}}
                    </div>
{%else%}
                    <div class="col">
                      Not available 
                    </div>
{%endif%}

<!--Service Status-->
{%if service_request.status=="Accepted, Ongoing"%}
                    <div class="col" >
                      {{service_request.status}}  <a href="/close_request/{{service_request.request_id}}/{{name}}"  class="btn btn-primary"> Close it?  </a>,if Service done 
                    </div> 
{%elif service_request.status=="Requested"%}
                    <div class="col" >
                      {{service_request.status}}  <a href="/edit_request/{{service_request.request_id}}/{{name}}"  class="btn btn-primary"> Edit  </a> 
                    </div>
{%elif service_request.status=="closed"%}
                    <div class="col" >
                      {{service_request.status}}  
                    </div>
{%else%}
                      <div class="col">
                        Rejected 
                    </div>
{%endif%}

                  </div>
{%endfor%}
{%else%}
<div class="centre"> No Service History available</div>
{%endif%}                  



                     
             
        <!--end of Today  Servicehhistory-->




{%endblock%}        