{%extends "Customer_layout.html"%}
{%block content%}      <!--Inherited all nav featues-->





          <!-- Start for select service-->
          <div class="container text-center">
            <div class="row align-items-start" style="font-size: 20px;">
              <div class="col">
          
                <div class="container-fluid mt-5" width="100%">
                  <h2 class="text-center mb-4">Select a Service</h2>
                  <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-5 g-2">
{%if services%}
{%for service in services%}
                      <!-- Card 1 -->
                      <div class="col">
                          <div class="card h-100 shadow-sm">
                              <div class="card-body">
                                  <h5 class="card-title">{{service.name}} </h5>
                                  <p class="card-text">{{service.description}}</p>
                                  <h7 class="card-title">Start @ ₹{{service.price}} </h8>
                                  <a href="#" class="btn btn-primary">Book</a>
                              </div>
                          </div>
                      </div>
{%endfor%}
{%else%}
<div class="centre"> No Service available</div>
{%endif%}                      
                     
                      
                  </div>
              </div>

            </div>
          </div>
          <div>
          <!--End for select service-->



          <!--start of Servicehhistory-->
         <div class="my_container">
            <div class="centre"> <h1>Service History</h1></div>
              <div class="my_panel">

                
                <div class="container text-center">
                  <div class="row align-items-start" style="font-size: 20px;">
                    <div class="col">
                     ID
                    </div>
                    <div class="col">
                      Service Name
                    </div>
                    <div class="col">
                      professional Name
                    </div>
                    <div class="col">
                      Mobile Number
                    </div>
                    <div class="col">
                      Status
                    </div>
                  </div>  </b>
                  <div class="row align-items-start">
                    <div class="col">
                     <a href="#">1</a>
                    </div>
                    <div class="col">
                      Professional--1
                    </div>
                    <div class="col">
                      Customer--1
                    </div>
                    <div class="col">
                      +91 9876543210
                    </div>
                    <div class="col">
                      Requested
                    </div>
                  </div>
                  <div class="row align-items-start">
                    <div class="col">
                     <a href="#">2</a>
                    </div>
                    <div class="col">
                      Professional--2
                    </div>
                    <div class="col">
                      Customer--2
                    </div>
                    <div class="col">
                      +91 9876543210
                    </div>
                    <div class="col">
                      Requested
                    </div>
                  </div>
                  <div class="row align-items-start">
                    <div class="col">
                     <a href="#">3</a>
                    </div>
                    <div class="col">
                      Professional--3
                    </div>
                    <div class="col">
                      Customer--3
                    </div>
                    <div class="col">
                      +91 9876543210
                    </div>
                    <div class="col">
                      close it?
                    </div>
                  </div>
                  <div class="row align-items-start">
                    <div class="col">
                     <a href="#">4</a>
                    </div>
                    <div class="col">
                      Professional--4
                    </div>
                    <div class="col">
                      Customer--4
                    </div>
                    <div class="col">
                      +91 9876543210
                    </div>
                    <div class="col">
                      closed
                    </div>
                  </div>
                  <div class="row align-items-start">
                    <div class="col">
                     <a href="#">5</a>
                    </div>
                    <div class="col">
                      Professional--5
                    </div>
                    <div class="col">
                      Customer--5
                    </div>
                    <div class="col">
                      +91 9876543210
                    </div>
                    <div class="col">
                      closed
                    </div>
                  </div>
                  
                </div>
               
              </div>
            </div>
        <!--end of Today Service History-->




{%endblock%}        